<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>HTTP Status Code</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/signup.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">I gave a 200 ;)</a>
                    </li>
                    <!--<li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>-->
                </ul>
            </nav>
            <h3 class="text-muted">HTTP Status Code</h3>
        </div>

        <div class="jumbotron">
            <form class="form-signin">
                <h1>Enter URL :</h1>
                <label for="inputName" class="sr-only">URL</label>
                <input type="name" name="inputName" id="inputName" class="form-control" placeholder="URL" required autofocus>
                <br>
                <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Give me the status!</button>
            </form>
        </div>
 
        <div class="jumbotron">
            <!--<p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>-->
        </div>
 
 
        <footer class="footer">
            <p>&copy; Mansimar Kaur</p>
        </footer>
 
    </div>
</body>
 
</html>



  
 
      
 
       
 
      
 
   